<div>
  here will be a list of users, whom you can click to expand down.

  There, will be their latest article written, if any.
  This way, it's like expanding the user down, and everything is organized by person.

  Everything else seems to put the platform front and center. This puts the individual person front and center. 
</div>
