<div class="border bg-sky-400 flex justify-between">
  <h1 class="ml-4 text-4xl p-2"><%= link_to "Turing Allies", root_path %></h1>
  <div class="mr-4 p-2">
    <%= link_to "Login", employers_path, class: "p-2" %>
  </div>
</div>

