<div class="border bg-slate-300 text-white flex justify-end">
  <div class="mr-4 p-2">
    <%= link_to "Home", root_path, class: "p-2" %>
    <%= link_to "Employers", employers_path, class: "p-2" %>
    <%= link_to "Interviews", interviewers_path, class: "p-2" %>
    <%= link_to "About", about_path, class: "p-2" %>
  </div>
</div>
