<% breadcrumb :articles %>
<h1>Articles</h1>
<% @articles.each do |article| %>
  <div><%= link_to "#{article.title} by #{article.user.first_name} #{article.user.last_name}", user_article_path(user_id: article.user.id, id: article.id)  %></div>
<% end %>