<div class="w-[100%]">
  <div class="p-4 container mx-auto">
    <h1 class="font-bold text-4xl">Turing Allies</h1>
    <p>Companies that have Hired or Interviewed Turing Students recently</p>
  </div>
  <div class="flex justify-evenly border border-red-500">
    <div class="welcome-card">
      <h1 class="text-2xl">Employers</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus ab a qui mollitia adipisci exercitationem alias sint aliquid, illo aut quas porro sed modi velit ut impedit omnis dolorum repellat.
      </p>
    </div>
    <div class="welcome-card">
      <h1 class="text-2xl">Interviewers</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem quasi quaerat soluta aliquid maiores ut harum, non ea animi asperiores aperiam quas magni ad, voluptatibus tempora beatae commodi suscipit vero.</p>
    </div>
    <div class="welcome-card">
      <h1 class="text-2xl">Profile</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, repellendus. Rem ullam tempore ea nulla optio! Harum aspernatur molestiae deserunt tempore, alias repellat! Ipsam ad, earum nulla rerum reiciendis a.</p>
    </div>
  </div>
</div>
