<div class="border-2 p-3 flex-col">
  <h1 class="text-4xl">About Turing Allies</h1>
  <div class="about-section">
    <h1 class="text-2xl">
      What is this?
    </h1>
    <p>This is a weekend project created to help students and job-seekers from Turing School of Software and Design.</p>
    <p>It started with a spreadsheet maintained by Turing listing known employers of alumni. The majority of the <%= link_to "employers ", employers_path %>came from the spreadsheet located in the GH repo. (/db/data/recent_hires.csv)</p>
    <p>It's here for you to browse, use, contribute to, improve, criticize and grow.</p>
  </div>
  <div class="about-section">
    <h1 class="text-2xl">
      Why does this exist?
    </h1>
    <p>for 2 reasons:</p>
    <ol class="pt-3 list-decimal list-outside">
      <li>To consolidate the lists of companies who have definitely hired or interviewed Turing grads in the past</li>
      <li>To give you the job-seeker a simple project to contribute to; OpenSource projects are super simple ways to express your commitment to becoming a software developer, and give you great practice with working tickets. </li>
    </ol>
  </div>
  <div class="about-section">
    <h1 class="text-2xl">
      How can I help?
    </h1>
    <p>This project is 100% open source. Feel free to <%= link_to "visit the repo ", "https://github.com/TuringAllies" %>for this project on GH and checkout how you might be able to contribute. </p>
  </div>
  <div class="about-section">
    <h1 class="text-2xl">
      Who made this?
    </h1>
    <p>I'm a graduate of the 2208 BE program. You can learn more about me <%= link_to "here", "https://marchandmd.github.io/" %>. I've taken the responsiblity to launch this service/platform.</p>
    <br>
  </div>
</div>
