@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  a {
    color: blue;
  }
}

@layer base {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }
}