@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


.welcome-card {
  padding: 2em;
  border: 1px solid black;
}

.welcome-card > p {
  padding: 10px;
  text-align: center;
}

.welcome-card > h1 {
  text-align: center;
}