@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    color: blue;
    text-decoration: underline;
  }
}

@layer base {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }
}

.welcome-card {
  padding: 2em;
  border: 1px solid black;
}

.welcome-card > p {
  padding: 10px;
  text-align: center;
}

.welcome-card > h1 {
  text-align: center;
}

#add_employer .table > tbody {
  text-align: right;
}

#add_employer {
  border: 1px 1px solid;
}

@keyframes appear-then-fade {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  60% {
    opacity: 1;
  }
}
.flash {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);

  max-width: 100%;
  width: max-content;
  padding: 0 var(--space-m);

  &__message {
    font-size: var(--font-size-s);
    color: var(--color-white);
    padding: var(--space-xs) var(--space-m);
    background-color: var(--color-dark);
    animation: appear-then-fade 4s both;
    border-radius: 999px;
  }
}
