.welcome-card {
  flex-basis: 33.333333%;
  display: flex;
  align-items: center;
}

.welcome-card > p {
  padding: 10px;
  text-align: center;
}

.welcome-card > h1 {
  text-align: center;
}

#add_employer .table > tbody {
  text-align: right;
}

#add_employer {
  border: 1px 1px solid;
}

#brand-logo {
  color: black;
}

.responsive-image {
  width: 10%;
  height: auto;
}

#employers-table td {
  padding: 1rem;
}

.about-section {
  border: 1px solid black;
  padding: 2rem;
}

.about-section h1 {
  margin-bottom: 1rem;
}