.welcome-card {
  padding: 2em;
  flex-basis: 33.333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-card > p {
  padding: 10px;
  text-align: center;
}

.welcome-card > h1 {
  text-align: center;
}

#add_employer .table > tbody {
  text-align: right;
}

#add_employer {
  border: 1px 1px solid;
}

.flash {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);

  max-width: 100%;
  width: max-content;
  padding: 0 var(--space-m);

  &__message {
    font-size: var(--font-size-s);
    color: var(--color-white);
    padding: var(--space-xs) var(--space-m);
    background-color: var(--color-dark);
    border-radius: 999px;
  }
}

#brand-logo {
  color: black;
}

.responsive-image {
  width: 10%;
  height: auto;
}

#employers-table td {
  padding: 1rem;
}

.about-section {
  border: 1px solid black;
  padding: 2rem;
}

.about-section h1 {
  margin-bottom: 1rem;
}

#main-title h1 {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}